<a href="" class="pokemon">
  <section class="_status">
    <h2>
      Bulbasaur
    </h2>
    <ul>
      <li>
        Grass
      </li>
      <li>
        Poison
      </li>
    </ul>
  </section>
  <section class="_image">
    <img src="assets/pokemon.png" alt="">
  </section>
</a>
<a href="" class="pokemon">
  <section class="_status">
    <h2>
      Bulbasaur
    </h2>
    <ul>
      <li>
        Grass
      </li>
      <li>
        Poison
      </li>
    </ul>
  </section>
  <section class="_image">
    <img src="assets/pokemon.png" alt="">
  </section>
</a>